body {
 margin: 0;
}
.container {
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-rows: 600px 1fr 100px;
}

.header {
    background-image: url(field.jpg);
    background-size: cover;
    background-position: center;
    color:white;
}
nav {
    padding: 10px 0;
    border-bottom: 2px solid green;
}
.logo {
    line-height: 30px;
    font-size: large;
    letter-spacing: 3px;
    padding: 5px;
}

.header nav {
    text-transform: uppercase;
    display:flex;
    justify-content: space-evenly;
}
span{
    display: flex;
    align-items: center;
}
.logo {
    justify-content: center;
}
.list {
    list-style: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.list li {
    padding-left: 20px;
}

.logo:hover,
.list li:hover {
    color: green;
    cursor:pointer;
    font-weight: 700;
}
.hero {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height:300px;
}
.hero h1 {
    padding: 5px 0;
    border-bottom: 2px solid green;
}
.hero p {
    width:500px;
    padding: 20px 0;
    opacity: 0.9;
    text-align: center;
}
.hero button {
    padding:10px 20px;
    background-color: transparent;
    color:white;
    border: 1px solid green;
    border-radius: 20px;
}
.hero button:hover {
    background-color: green;
    color:white;
    cursor: pointer;
    letter-spacing: 1px;
    font-weight: 700;
}


/* the main*/


.main {
    padding: 5% 0 0 5%;
    display: flex;
    flex-direction: column;
    height: 500px;
    background-color: green;
    color:white;
}

.main button {
    margin-left: 10px;
    background-color: transparent;
    cursor: pointer;
}
.main button:hover {
    opacity: 0.5;
    border: 1px solid white;
}
.hidden {
    display: none;
}
/* the footer */

.footer {
    display: flex;
    justify-content: space-around;
    background-color: #060330;
    color: white;
}

.footer div{
    display: flex;
    width: 30%;
    height: 100px;
    border: 1px solid white;
    justify-content: center;
    align-items: center;
}
.images img {
 padding: 0 10px;   
}
.images img:hover {
    cursor: pointer;
}