* {
 margin: 0;
}
.container {
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-rows: 600px 1fr 1fr;
}

.header {
    background-image: url(field.jpg);
    background-size: cover;
    background-position: center;
    color:white;
}
nav {
    padding: 10px 0;
    border-bottom: 2px solid green;
}
.logo {
    line-height: 30px;
    font-size: large;
    letter-spacing: 3px;
    padding: 5px;
}

.header nav {
    text-transform: uppercase;
    display:flex;
    justify-content: space-evenly;
}
span{
    display: flex;
    align-items: center;
}
.logo {
    justify-content: center;
}
.list {
    list-style: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.list li {
    padding-left: 20px;
}

.logo:hover,
.list li:hover {
    color: blue;
    cursor:pointer;
}
.hero {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height:300px;
}
.hero h1 {
    padding: 20px 0;
    border-bottom: 2px solid green;
}
.hero p {
    width:500px;
    padding: 20px 0;
    opacity: 0.9;
    text-align: center;
}
hr {
    width:100px;
}
/* the main*/
.main {
    display: flex;
    height: auto;
}
.left {
    display: flex;
    width: 50%;
    height:300px;
    display: flex;
    background-image: url(sketch.jpg);
    background-size: cover;
    background-position: center;
}
.left h3 {
    padding: 20px 30px;
}
.right {
    width: 50%;
    height:300px;
    background-color: rgba(2, 5, 36, 0.8) ;
    color:white;
}
.right h3 {
    padding: 50px 0 10px 50px;
}
.right  li {
    list-style: none;
    padding: 15px 50px;
}

/* the footer */
.footer {
    height: auto;
}